In [1]:
import rasterio
from rasterio.mask import mask
import geopandas as gpd
import numpy as np
import shapely
from shapely.geometry import mapping
import matplotlib.pyplot as plt
from rasterio.plot import show
from pyproj import CRS
import fiona

In [2]:
shapefile_original = gpd.read_file('./data/shapefiles/CLC2012_PT_v2/CLC2012_PT_v2.shp')

shapefile_original.crs

{'proj': 'tmerc',
 'lat_0': 39.6682583333333,
 'lon_0': -8.13310833333333,
 'k': 1,
 'x_0': 0,
 'y_0': 0,
 'ellps': 'GRS80',
 'units': 'm',
 'no_defs': True}

In [3]:
shapefile_intersect = gpd.read_file('./data/shapefiles/shp_2012_IMG_DATA_1/shp_2012_IMG_DATA_1_cutted.shp')
#shapefile_intersect.geometry = shapefile_intersect.geometry.map(lambda polygon: shapely.ops.transform(lambda x, y: (y, x), polygon))
shapefile_intersect.crs = fiona.crs.from_epsg(4326)
shapefile_intersect.crs

{'init': 'epsg:4326', 'no_defs': True}

In [4]:
shapefile_original.bounds

              minx         miny        maxx         maxy
0       17080.0215 -294951.4999  19380.1993 -292804.0811
1       25014.5391 -293571.3437  28100.6895 -291199.6236
2        2126.1274 -289232.5311   3577.8242 -287665.0312
3      -48281.8595 -285265.3470 -47693.6214 -284303.3125
4      -21405.6196 -285051.4061 -19507.7148 -284032.0916
...            ...          ...         ...          ...
53771  -48575.9047  167635.7850 -46146.6718  169701.0000
53772  -55076.6484  204694.1563 -50910.5976  208331.8906
53773  -59396.1259  223007.5131 -52912.2656  225591.9688
53774  -61277.9374  243545.4956 -51113.0195  252421.6141
53775 -144205.7287 -326024.7885  82484.4874  245944.9374

[53776 rows x 4 columns]

In [5]:
shapefile_intersect.bounds

        minx       miny     maxx       maxy
0  -9.231526  38.984122 -9.17365  39.029278
1  -9.231526  38.984122 -9.17365  39.029278
2  -9.231526  38.984122 -9.17365  39.029278
3  -9.231526  38.984122 -9.17365  39.029278
4  -9.231526  38.984122 -9.17365  39.029278
5  -9.231526  38.984122 -9.17365  39.029278
6  -9.231526  38.984122 -9.17365  39.029278
7  -9.231526  38.984122 -9.17365  39.029278
8  -9.231526  38.984122 -9.17365  39.029278
9  -9.231526  38.984122 -9.17365  39.029278
10 -9.231526  38.984122 -9.17365  39.029278
11 -9.231526  38.984122 -9.17365  39.029278
12 -9.231526  38.984122 -9.17365  39.029278
13 -9.231526  38.984122 -9.17365  39.029278
14 -9.231526  38.984122 -9.17365  39.029278
15 -9.231526  38.984122 -9.17365  39.029278
16 -9.231526  38.984122 -9.17365  39.029278
17 -9.231526  38.984122 -9.17365  39.029278
18 -9.231526  38.984122 -9.17365  39.029278
19 -9.231526  38.984122 -9.17365  39.029278
20 -9.231526  38.984122 -9.17365  39.029278

In [6]:
shapefile_original = shapefile_original.to_crs({'init': 'epsg:32629'})
shapefile_intersect = shapefile_intersect.to_crs({'init': 'epsg:32629'})

C:\ProgramData\Anaconda3\envs\geo_py37\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))
C:\ProgramData\Anaconda3\envs\geo_py37\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [7]:
shapefile_original.bounds

                minx          miny           maxx          maxy
0      594186.286864  4.096618e+06  596489.309601  4.098769e+06
1      602100.877501  4.098070e+06  605188.126799  4.100448e+06
2      579188.961653  4.102205e+06  580645.896524  4.103768e+06
3      528764.179009  4.105702e+06  529356.405804  4.106660e+06
4      555626.977490  4.106170e+06  557525.270883  4.107178e+06
...              ...           ...            ...           ...
53771  524148.576346  4.558394e+06  526563.873768  4.560473e+06
53772  517252.207399  4.595388e+06  521445.260327  4.599000e+06
53773  512780.335819  4.613624e+06  519246.256021  4.616267e+06
53774  510693.158215  4.634132e+06  520770.420053  4.643105e+06
53775  431145.184713  4.065596e+06  659593.163080  4.636431e+06

[53776 rows x 4 columns]

In [8]:
shapefile_intersect.bounds

        minx       miny      maxx       maxy
0   479960.0  4315040.0  484960.0  4320040.0
1   479960.0  4315040.0  484960.0  4320040.0
2   479960.0  4315040.0  484960.0  4320040.0
3   479960.0  4315040.0  484960.0  4320040.0
4   479960.0  4315040.0  484960.0  4320040.0
5   479960.0  4315040.0  484960.0  4320040.0
6   479960.0  4315040.0  484960.0  4320040.0
7   479960.0  4315040.0  484960.0  4320040.0
8   479960.0  4315040.0  484960.0  4320040.0
9   479960.0  4315040.0  484960.0  4320040.0
10  479960.0  4315040.0  484960.0  4320040.0
11  479960.0  4315040.0  484960.0  4320040.0
12  479960.0  4315040.0  484960.0  4320040.0
13  479960.0  4315040.0  484960.0  4320040.0
14  479960.0  4315040.0  484960.0  4320040.0
15  479960.0  4315040.0  484960.0  4320040.0
16  479960.0  4315040.0  484960.0  4320040.0
17  479960.0  4315040.0  484960.0  4320040.0
18  479960.0  4315040.0  484960.0  4320040.0
19  479960.0  4315040.0  484960.0  4320040.0
20  479960.0  4315040.0  484960.0  4320040.0